.Business {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16.66rem;
  margin: 0 .5rem 2.3rem .5rem;
}

.Business .image-container {
  height: 16.66rem;
  margin-bottom: 1rem;
}

.Business h2 {
  margin-bottom: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.Business-information {
  display: flex;
  justify-content: space-between;
}

.Business-information p {
  font-size: .88rem;
  font-weight: 300;
  line-height: 1rem;
}

.Business-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Business-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.Business-reviews h3 {
  color: #CCA353;
  font-weight: 600;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link, a:visited {
  color: #CCA353;
}

a:focus, a:hover {
  border-bottom: 1px solid;
  font-size: .97rem;
  font-weight: 600;
}

a:active {
  color: rgb(225, 238, 46);
}

a[href*="http"] {
  background: url('https://mdn.mozillademos.org/files/12982/external-link-52.png') no-repeat 100% 0;
  background-size: 12px 12px;
  background-position: right center;
  padding-right: 19px;
  font-size: 1.2rem;
  font-weight: 600;
}

a[href*="http"]:hover {
  background: url('https://mdn.mozillademos.org/files/12982/external-link-52.png') no-repeat 100% 0;
  background-size: 16px 16px;
  background-position: right center;
  padding-right: 19px;
  font-size: 1.4rem;
  font-weight: 600;
}

